.footer {
    background-color: #ececec;
    padding: 20px 5px 5px;
    text-align: center;
    &-style {
        color: #337ab7;
    }
    &-style:hover {
        text-decoration: underline;
        color: #23527c;
    }
    & p {
        font-size: 10px;
        letter-spacing: .2em;
        line-height: 1.6em;
    }
    &-sns {
        margin-top: 10px;
    }
}